@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --pink: #FFE5EC;
    --green: #CAFFBF;
    --yellow: #FDFFB6;
    --blue: #9bf6ff;
    --white: #fffffc;
    --purple: #bdb2ff;

    --dark-green: #006D77;
    --dark-blue: #0081A7;
    --dark-pink: #e01b77;
    
    --darker-blue: #003049;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}